
 <h1>Welcome</h1>
<div class="topnav">
   
        <a routerLink="/vozilo" style="margin-left: 5px;" class="btn btn-info">Dodaj vozilo</a>
        <a routerLink="/listaVozila" style="margin-left: 5px;" class="btn btn-info">Svi oglasi</a>
        <a routerLink="/izvestaj" style="margin-left: 5px;" class="btn btn-info">Izvestaj</a>
        <a routerLink="/novi-cenovnik" style="margin-left: 5px;" class="btn btn-info">Dodaj cenovnik</a>
        <a routerLink="/cenovnik" style="margin-left: 5px;" class="btn btn-info">Svi cenovnici</a>
</div> 
<div>

        <router-outlet></router-outlet>
</div>
